# Data configuration
data:
  domain: "SA"
  training_experiment: "ESD_pseudo_reality"
  data_path: "/bg/fast/aihydromet/cordexbench/"
  var_target: "tasmax"
  normalization: "minus1_to_plus1"   #'standardization', 'minmax', 'log', or None, or 'minus1_to_plus1'
  num_workers: 4

# Training configuration
training:
  batch_size: 32
  epochs: 400
  batches_per_epoch: 40  # set to null to use all data; otherwise set an integer value
  generator:
    learning_rate: 0.0001
    optimizer: "AdamW"
    scheduler: null
    beta1: 0.0
    beta2: 0.999
    weight_decay: 0.0001
  discriminator:
    learning_rate: 0.0001
    optimizer: "AdamW"
    scheduler: null
    beta1: 0.0
    beta2: 0.999
    weight_decay: 0.0001
  early_stopping: true
  patience: 10
  checkpoint_dir: "checkpoints"
  loss_weights:
    l1: 1.0
    gan: 0.1

# Model configuration
model:
  generator_architecture: "diffusion_unet" # "spagan"
  discriminator_architecture: "spagan" # "unet" or "spagan"
  filter_size: 96
  n_input_channels: 15
  n_output_channels: 1
  dropout_seed: 42
  dropout_ratio: 0.2

# Evaluation configuration
evaluation:
  metrics: ["rmse"]
  output_dir: "results"

# Logging configuration
logging:
  level: "INFO"
  log_dir: "logs"
  wandb: false # not implemented
  log_frequency: 1 # number of epochs between loss plots
  checkpoint_frequency: 20 # number of epochs between checkpoints
  map_frequency: 1 # number of epochs between plotting maps
  diagnostic_frequency: 1 # number of epochs between computing diagnostics